<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Razor Fun!</title>
</head>
<body>
  <h1>Here are some good foods!</h1>
  @{
    string[] Foods = new string[]
    {
      "Corn on the cob",
      "Burrito",
      "Cereal",
      "Ice Cream"
    };

    foreach (string food in Foods)
    {
      if (@food.StartsWith("C"))
      {
        <P style="color: red">@food</P>
      } 
      else 
      {
        <p>@food</p>
      }
    };
  }
</body>
</html>